.MainContainer{
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 5px;
}

.ChatSearch{
    box-sizing: border-box;
    font-size: large;
    border: none;
    margin-bottom: 10px;
    padding: 7px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
    border-radius: 5px; 
}

.ListOfChats{
    height: 400px;
    flex-direction: column;
    overflow: scroll;
}
.ChatPreview{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 5px;
    cursor: pointer;
    user-select: none;
}

    .ChatDescription{
        padding-left: 10px;
    }

    .ChatName{
        font-size: large;
        font-weight: 600;
        font-style: normal;
    }

    .ChatLastMessage{
        font-size: large;
        font-weight: 300;
        font-style: normal;

    }

@media (max-width:500px) {
    .MainContainer{
        width: 100%;
    }
}